/* This changes font as I selected  */
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 22px;
  font-size: 25px;
  font-weight: 400;
}
.welcome-header__text {
  width: 55%;
  opacity: 0.65;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: -15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
.login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 20px;
  margin-bottom: 5px;
}
.login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}
.login-form input:focus {
  border-color: var(--yellow);
}
/* This changes margin bottom of the second input which is password */
.login-form input[type="password"] {
  margin-bottom: 35px;
}
/* But you can also use this method as well to point to a specific one */
.login-form input:nth-child(3) {
  margin-bottom: 12px;
}
.login-form input:nth-child(4) {
  margin-bottom: 22px;
}
.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  font-size: 18px;
  padding: 18px 0px;
  border-radius: 5px;
}
.login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
