#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 2s linear;
}

.message-row:nth-child(2) {
  animation-delay: 0.5s;
}
.message-row:nth-child(3) {
  animation-delay: 1s;
}

.chat__timestamp {
  color: rgb(255, 255, 255, 0.8);
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 23px;
  margin-right: 10px;
}

.message__author {
  opacity: 0.7;
  font-size: 17px;
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 14px;
  font-size: 20px;
  margin-right: 5px;
  border-top-left-radius: 0px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.6;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-radius: 14px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 7px 20px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.3;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -18px;
  top: 6px;
}

.reply__column:last-child i {
  right: 25px;
  top: 8px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.message-row {
  opacity: 0;
  animation: appearBtnAnimation 1s ease-in-out forwards;
}

.reply.reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 88vw;
  transform: translateX(-12%) translateY(-70px);
}

.reply:focus-within {
  transform: translateY(70px);
}
