#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.main-chat {
  margin-top: 200px;
}
