.recommended-friends {
  margin: 25px 0px;
  padding: 17px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 95px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin-top: -5px;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.5;
}
.open-chat__header i {
  opacity: 0.5;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main-border);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.open-post__title {
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 20px;
}

.open-post__title-second {
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 20px;
  text-transform: capitalize;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 17px;
  font-weight: 300;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 7px;
}

.open-post__members-count {
  opacity: 0.5;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__members-status {
  color: #ffb0e0;
  font-weight: 600;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 9px;
  right: 9px;
  font-size: 14px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
