.alt-header {
  padding: 45px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 450;
}
.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}

.alt-header__column-icon-last {
  margin-left: 20px;
}

.alt-header__title-chat {
  margin-left: 50px;
}
