.alt-header {
  padding: 45px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 25px;
  font-weight: 450;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
