#no-mobile {
  position: absolute;
  z-index: 99;
  height: 111vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#no-mobile-small {
  position: absolute;
  z-index: 98;
  height: 111vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  #no-mobile {
    display: none;
  }
}

@media screen and (min-width: 499px) {
  #no-mobile-small {
    display: none;
  }
}
