.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 30px;
  margin-bottom: 15px;
}

.screen-header h1 {
  margin-left: -5px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__red-dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: 19px;
  top: 53px;
  animation: appearRedDotAnimation 3s ease-in-out infinite;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
