.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.screen-header h1 {
  margin-left: -5px;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 20px;
}
